html, body{
    margin:0px;
    padding:0px;
}

div {
    display:inline-block;
    width:28%;
    margin:1.5%;
    height:200px;
    text-align:center;
    padding-top:85px;
    background-color:grey;
    font-size:30px;
    color:white;
    cursor:pointer;
}

body:first-child{
    display:block;
    width:100%;
    background-color:transparent;
}

#red{
    background-color:red;
}

#green{
    background-color:green;
}

#blue{
    background-color:blue;   
}

#colordisplay{
    text-align:center;
    width:70%;
    margin-left: 0px auto;
    margin-right: 0px auto;
    font-size:30px;
    color:white;
    margin-top:0;
}